/* ALERT */
.alert.error {
  background-color: #f8d7da;
  /* max-width: 680px; */
  padding: 10px 20px;
  margin: 5px auto 0;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}